/* Limpieza total de estilos por defecto de Vite */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f1f5f9;
}

body {
  margin: 0;
  display: block; /* Cambiado de place-items: center */
  min-width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
}